<h1>Элитный клуб знакомств</h1>
<div>
    
    <%= link_to "Регистрация", signup_path, class: "signup" %>
        
</div>
<div>
    
    <div id="man" align="center"><button>Мужчина</button></div>
    <div id="woman" align="center"><button>Женщина</button></div>
    
</div>
